.menu-container {
  height: 11%;
  max-height: 11%;
}

.menu-title {
  font-size: 24px;
  align-self: center;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  user-select: none;
}

.function-switch-button-container {

}

.function-switch-button {
  border: 2px solid #a290a2;
  outline: none;
  border-radius: .28571429rem;
  padding: .5em .5em .5em;
  line-height: 1em;
  background-color: white;
  color: #a290a2;
  font-weight: 700;
  font-style: normal;
  font-size: 1.10em;
  min-height: 1em;
  vertical-align: baseline;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.app-bar-dropdown-container {
  padding-left: 0px !important;
  z-index: 40;
}

.app-bar-dropdown {
  font-size: 1.25rem;
  min-width: 13rem !important;
  border: none !important;
  min-height: 1rem !important;
  user-select: none;
  font-variant: small-caps;
  font-weight: 700 !important;
}

.function-switch-button:hover {
  outline: none;
  cursor: pointer;
}

.function-switch-button:active {
  background-color: #a290b1;
  color: white;
  outline: none;
  cursor: pointer;
}
