.instructions {
  margin: 0 auto;
  font-family: 'Lato';
  font-size: 24px;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  user-select: none;
}


.signal-generator-canvas {
  left: 25%;
  width: 75%;
}
