.App {
  height: 100vh;
}

.flex-container {
  /* display: flex; */
  /* flex-direction: row; */
}

canvas {
  position: absolute;
  height: 89%;
  /* top: 10%; */
  z-index: 9;
  /* flex: 1; */
  left: 0%;
  touch-action: none;
  overflow: hidden;
}

.sustain-button {
  z-index: 10;
  position: absolute;
  bottom: 5px;
  right: 1%;
  width: 7em;

}

.timbre-button {
  z-index: 10;
  position: absolute;
  bottom: 5px;
  right: 9%;
  width: 7em;
}

.timbre-button:active {
  background-color: "red"!important;
}

.flashing {
  animation: blinker 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
