.App {
  height: 100vh;
  /*height: 100%;*/
  width: 100%;
  overflow: hidden;
  touch-action: none;

}
body {
  position: fixed;
  touch-action: none;

}

.flex-container {
  /* display: flex; */
  /* flex-direction: row; */
}

canvas {
  position: absolute;
  height: 89%;
  /* top: 10%; */
  z-index: 9;
  /* flex: 1; */
  left: 0%;
  touch-action: none;
  overflow: hidden;
}
.button-group-container {
  z-index: 10;
  position: absolute;
  bottom: 0%;
  left: 25%;

}

.complex-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 15;
}

.timbre-choice-dropdown {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 100%;
  padding: 8%;
  background-color: white;
}

.square-button {
  top: -100%;
}

.saw-button {
  top: -200%;
}

.triangle-button {
  top: -300%;
  /* padding: 8% 2%; */
}
.random-button {
  top: -400%;

  /* padding: 8% 2%; */
}

.random-button-container {
  cursor: pointer;
}

.lock-freq-container {
  z-index: 10;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: rotate(90deg) translateX(-25%);
  transform-origin: 10% 50%;
}

.lock-freq-button {
  margin-left: 1em!important;

}

.lock-amp-container {
  z-index: 10;
  position: absolute;
  left: 12.5%;
  bottom: 0%;
  transform: translateX(-50%);
}

.lock-amp-button {
  margin-left: 1em!important;
}

.lock-freq-button:hover{
  background-color: #E0E1E2!important;
}

.lock-amp-button:hover{
  background-color: #E0E1E2!important;
}


.sustain-button {
  z-index: 10;
  position: absolute;
  left: 25%;
  bottom: 0%;
}

.sustain-button:hover {
    background-color: #E0E1E2!important;
}

.waveform-button-container {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 15;
  display: flex;

}

.waveform-button-title {
  position: absolute;
  z-index: 20;
  font-size: 0.75rem!important;
  cursor: default!important;
  border-top-right-radius: .28571429rem!important;
  border-bottom-right-radius: .28571429rem!important;
  /* height: 1em; */
  /* width: 5em; */
  top: -20%;
  left: 50%;
  /* background-color: white; */
  /* color: white; */
  transform: translateX(-50%);
  padding: 2px!important;
  color: black!important;

}
.waveform-button-title:active {
  background-color: #E0E1E2!important;
}

.waveform-button-title:hover {
  color: black!important;
  background-color: #E0E1E2!important;

}


.timbre-button {
  border-radius: 0px!important;

  width: 9em;
  margin-right: 0px!important;
}

.timbre-button:active {
  background-color: "red"!important;
}

.timbre-pure {
  border-top-left-radius: .28571429rem!important;
  border-bottom-left-radius: .28571429rem!important;
}

.timbre-complex {
  border-top-right-radius: .28571429rem!important;
  border-bottom-right-radius: .28571429rem!important;
}

.generate-icon {
  z-index: 15;
  margin-left: 1em!important;
}

.rotate-icon {
  -webkit-animation: rotate1 1s 1; /* Safari 4+ */
    -moz-animation:    rotate1 1s 1; /* Fx 5+ */
    -o-animation:      rotate1 1s 1; /* Opera 12+ */
    animation:         rotate1 1s 1; /* IE 10+, Fx 29+ */
}

.rotate-icon2 {
  -webkit-animation: rotate2 3s 1; /* Safari 4+ */
    -moz-animation:    rotate2 1s 1; /* Fx 5+ */
    -o-animation:      rotate2 1s 1; /* Opera 12+ */
    animation:         rotate2 1s 1; /* IE 10+, Fx 29+ */
}

@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.combined-wave-title {
  font-size: 1.5em;
  margin-bottom: 0.25em;

}
.combined-wave-info {
  border-top: 2px solid white;
  top: 11%;
  height: 5rem;
  width: 20%;
  position: absolute;
  z-index: 11;
  border: 2px solid red;
  left: 25%;
  user-select: none;
}

.waveform-container {
  display: flex;
}
.waveform-title {
  flex: 1;
  margin-right: 10%;
}
.waveform-legend {
  border: 2px solid yellow;
  flex: 3;
}
.flashing {
  animation: blinker 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fullscreenbutton {
  position: absolute;
  top: 11%;
  right: 0%;
  z-index: 21;
  opacity: 0.5;
}
