.App {
  height: 100vh;
  /*height: 100%;*/
  width: 100%;
  overflow: hidden;
  touch-action: none;

}
body {
  position: fixed;
  touch-action: none;

}

@media only screen and (max-width: 850px) {
  .combined-wave-info {
    border-top: 2px solid white!important;
    top: 11%;
    bottom: 82%!important;
    width: 20%!important;
  }
}

.flex-container {
  /* display: flex; */
  /* flex-direction: row; */
}

canvas {
  position: absolute;
  height: 89%;
  /* top: 10%; */
  z-index: 9;
  /* flex: 1; */
  left: 0%;
  touch-action: none;
  overflow: hidden;
}
.button-group-container {
  z-index: 10;
  position: absolute;
  bottom: 0%;
  right: 0%;

}

.complex-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 15;
}

.timbre-choice-dropdown {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 100%;
  padding: 8%;
  background-color: white;
}

.square-button {
  top: -100%;
}

.saw-button {
  top: -200%;
}

.triangle-button {
  top: -300%;
  /* padding: 8% 2%; */
}

.sustain-button {
  z-index: 10;

}
.lock-freq-button {


}

.lock-amp-button {


}

.timbre-button {

  width: 7em;
}




.timbre-button:active {
  background-color: "red"!important;
}
.combined-wave-title {
  font-size: 1.5em;
  margin-bottom: 0.25em;

}
.combined-wave-info {
  position: absolute;
  z-index: 11;
  border: 2px solid red;
  bottom: 0%;
  left: 25%;
  width: 12%;
  user-select: none;
}

.waveform-container {
  display: flex;
}
.waveform-title {
  flex: 1;
  margin-right: 10%;
}
.waveform-legend {
  border: 2px solid yellow;
  flex: 3;
}
.flashing {
  animation: blinker 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
